<!-- wp:template-part {"slug":"header","tagName":"header"} /-->
<!-- wp:group {"tagName":"main","anchor":"cns-layout-wrapper"} -->
<main id="cns-layout-wrapper" class="wp-block-group">
	<!-- wp:columns {"isStackedOnMobile":true,"className":"cns-col__wrapper"} -->
	<div class="wp-block-columns cns-col__wrapper">
		<!-- wp:column {"className":"cns-col cns-col__side cns-col__left cns-col__sidebar"} -->
		<div class="wp-block-column cns-col cns-col__side cns-col__left cns-col__sidebar">
			<!-- wp:template-part {"slug":"sidebar"} /-->
		</div>
		<!-- /wp:column -->
		<!-- wp:column {"className":"cns-col cns-col__center-area"} -->
		<div class="wp-block-column cns-col cns-col__center-area">
			<!-- wp:post-content /-->
		</div>
		<!-- /wp:column -->
	</div>
	<!-- /wp:columns -->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer"} /-->
